<div class="upload">
  <div class="head-blue">
    CARGA DE BASE DE DATOS SIS
  </div>

  <div class="form">
    <mat-grid-list cols="3" rowHeight="70px">
      <mat-grid-tile [colspan]="2">
        <mat-form-field>
          <input matInput placeholder="Seleccionar Archivo" [(ngModel)]="newdata.filename" (click)="imgFileInput.click()">
          <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="btn">
          <button mat-raised-button color="warn">SUBIR</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field>
          <mat-select placeholder="Tipo">
            <mat-option value="val1">Val1</mat-option>
            <mat-option value="val2">Val2</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
