
body{
	background-color: white !important;
}

.menus{
        width: 40%;
	    display: block;
	    margin: 0 auto;
	    font-size: 18px;
	    padding: 0;
    li{
	    position: relative;
	    display: block;
	    padding: .75rem 1.25rem;
	    margin-bottom: -1px;
	    background-color: #fff;
	    border: 1px solid rgba(0,0,0,.125);
	    &:first-child{
	    	border-bottom:none;
	    	border-top-left-radius: .25rem;
    		border-top-right-radius: .25rem;
	    }
	    &:last-child {
		    margin-bottom: 0;
		    border-bottom-right-radius: .25rem;
		    border-bottom-left-radius: .25rem;
		}
    	a{
    		
    		color: #007bff;
		    text-decoration: none;
		    background-color: transparent;
		    font-size: 15px;
		    font-weight: bold;
    	}
    }
}